<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Movie</title>
    <script></script>

    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Fontawesome -->



</head>

<body>
    <!-- <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
    </script>
    <script type="module">
        import { createApp } from "vue";
        import main from "./main.js"
        createApp(main).mount("#app");
    </script> -->

    <div id="app">
        <div class="app-container container">
            <div class="row">
                <header class="header bg-white rounded">
                    <span>21120589</span>
                    <h1>Movies info</h1>

                    <div class="wrapper">
                        <div class="span">21589</div>

                    </div>
                </header>

                <nav class="navbar navbar-expand-lg mt-2 bg-white rounded">
                    <div class="container">
                        <a class="fw-bold navbar-brand p-0" href="#" v-on:click="handleHome">Home</a>

                        <div class="navbar__searching-wrapper">
                            <form class="d-flex navbar__form" action="" role="search">
                                <input type="text" style="outline: none;" class="navbar__form-input rounded" id=""
                                    placeholder="Search" v-model="searchInput">
                                <button type="button" class="btn btn-mine ml-2"
                                    v-on:click="handleSearch">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>

                <div class="body px-0">

                    <div v-if="isMoviePage" class="movie-page container"
                        style="background-image: url(https://m.media-amazon.com/images/M/MV5BODI0NTFkMTItOTYyNC00MzQ4LTgzZWMtMzdhMDAyOWU5YjA5XkEyXkFqcGdeQXVyNzQ1ODk3MTQ@._V1_Ratio0.7046_AL_.jpg);">
                        <div class="moive-background-img">

                        </div>
                        <h1>The Gold Rush</h1>
                        <p><strong>Released date: </strong>1925-07-13</p>
                        <p><strong>Summary: </strong>A prospector goes to the Klondike during the 1890s gold rush in
                            hopes of making his fortune,
                            and is smitten with a girl he sees in a dance hall.</p>
                        <p><strong>Genre: </strong>Action</p>

                        <div class="director-list-wrapper">
                            <h2>Director list</h2>
                            <span>Tuan Truong, Phuong Tay</span>
                        </div>

                        <div class="writer-list-wrapper">
                            <h2>Writer list</h2>
                            <span>Tuan Truong, Phuong Tay</span>

                        </div>

                        <div class="actor-list-wrapper container p-0">
                            <h2>Actor list</h2>
                            <div class="row" style="background-color: transparent !important;">
                                <div class="col-md-3 mt-2">
                                    <div class="col-md-12 p-2"
                                        style="background-color: black; color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer">
                                        <img src="https://m.media-amazon.com/images/M/MV5BNTFkOTk0YzctNDcyOS00YmFlLWEzMzktMmNlMGQ1Njg2MzllXkEyXkFqcGdeQXVyMzI5NDcxNzI@._V1_Ratio0.7727_AL_.jpg"
                                            alt="" style="width: 100%">
                                        <h2 class="actor-name">Charles Chaplin</h2>
                                        <p class="actor-role">The Lone Prospector</p>
                                    </div>
                                </div>

                                <div class="col-md-3 mt-2">
                                    <div class="col-md-12 p-2"
                                        style="background-color: black; color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer">
                                        <img src="https://m.media-amazon.com/images/M/MV5BNTFkOTk0YzctNDcyOS00YmFlLWEzMzktMmNlMGQ1Njg2MzllXkEyXkFqcGdeQXVyMzI5NDcxNzI@._V1_Ratio0.7727_AL_.jpg"
                                            alt="" style="width: 100%">
                                        <h2 class="actor-name">Charles Chaplin</h2>
                                        <p class="actor-role">The Lone Prospector</p>
                                    </div>
                                </div>

                                <div class="col-md-3 mt-2">
                                    <div class="col-md-12 p-2"
                                        style="background-color: black; color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer">
                                        <img src="https://m.media-amazon.com/images/M/MV5BNTFkOTk0YzctNDcyOS00YmFlLWEzMzktMmNlMGQ1Njg2MzllXkEyXkFqcGdeQXVyMzI5NDcxNzI@._V1_Ratio0.7727_AL_.jpg"
                                            alt="" style="width: 100%">
                                        <h2 class="actor-name">Charles Chaplin</h2>
                                        <p class="actor-role">The Lone Prospector</p>
                                    </div>
                                </div>

                                <div class="col-md-3 mt-2">
                                    <div class="col-md-12 p-2"
                                        style="background-color: black; color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer">
                                        <img src="https://m.media-amazon.com/images/M/MV5BNTFkOTk0YzctNDcyOS00YmFlLWEzMzktMmNlMGQ1Njg2MzllXkEyXkFqcGdeQXVyMzI5NDcxNzI@._V1_Ratio0.7727_AL_.jpg"
                                            alt="" style="width: 100%">
                                        <h2 class="actor-name">Charles Chaplin</h2>
                                        <p class="actor-role">The Lone Prospector</p>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>

                </div>
                <!-- body -->



            </div>
            <!-- class="row" -->

        </div>
    </div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</body>

</html>