* {
    box-sizing: border-box;
}

#app {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
  height: 75px;
}

.header__wrapper {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

}
.app-container {
    max-width: 1200px !important;
    margin: 0 !important;
}
.row {
    padding: 3px;
    color: black;
    background-color: rgb(208, 207, 206) ;
}
.light-mode {
  background-color: rgb(208, 207, 206) !important ;
  color: black !important;
}
.dark-mode {
  background-color: black;
  color: white !important;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn:focus {
  outline: none !important;
}

.btn-mine {
    border: 1px solid green !important;
    color: green !important;
    outline: none !important;
}
.movie-list {
    padding: 0;
    list-style: none;
}
.movie-popular__wrapper {
    display: flex;
}
.movie-item {
    padding: 3px;
    /* height: 60%; */
    transition: transform 1s;
}
/* transform when hover movie */
.movie-item:hover {
    transform: scale(1.2);
    z-index: 1;
}
/***** Global Slide *****/
  
  /***** Slide Right *****/
  .slide-right {
    position: relative;
    animation: 1s slide-right;
  }
  @keyframes slide-right {
    from {
      left: 40%;
    }
    to {
      left: 0%;
    }
  }
  
  /***** Slide Left *****/
  .slide-left {
    position: relative;
    animation: 1s slide-left;
  }
  @keyframes slide-left {
    from {
      right: 40%;
    }
    to {
      right: 0%;
    }
  }
.search-page-movie {
    background-color: white;
    border: 1px solid #bdb7b7 !important;
    border-radius: 5px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}


